<strong>Olá, {{ name }}</strong>
<p>Entrega cancelada:</p>
<p>
  <strong>Produto:</strong> {{ product }}<br />
  <strong>Endereço de entrega:</strong> {{ address }}<br />
  <strong>Motivo:</strong> {{ description }}<br />
</p>
